################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StartUp/bin
/StartUp/obj
/WhatWillWeEat/WhatWillWeEat/.vs
/WhatWillWeEat/WhatWillWeEat/bin
/WhatWillWeEat/WhatWillWeEat/obj
/WhatWillWeEat/WhatWillWeEat.Android/.vs
/WhatWillWeEat/WhatWillWeEat.Android/bin
/WhatWillWeEat/WhatWillWeEat.Android/obj
/WhatWillWeEat/WhatWillWeEat.iOS/.vs
/WhatWillWeEat/WhatWillWeEat.iOS/bin
/WhatWillWeEat/WhatWillWeEat.iOS/obj
/WhatWillWeEat_DatabaseTests/bin
/WhatWillWeEat_DatabaseTests/obj
